@use '../helpers'as *;

.header__menu-btn {
    position: fixed;
    left: rem(20);
    top: rem(20);
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .board {
        border: 1px solid #000;
        box-shadow: 0 0 10px #000;
        width: rem(500);
        height: rem(500);
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        transition: var(--slowAnim);

        &_cell {
            border: 1px solid #000;
            transition: var(--transition);

            & img {
                filter: drop-shadow(0 0 1px black);
                transition: var(--transition);
            }
        }
    }
}

@include mobile {
    .wrap {
        .board {
            width: rem(400);
            height: rem(400);
        }
    }
}


@include mobile-s {
    .wrap {
        .board {
            width: rem(350);
            height: rem(350);
        }
    }
}