@use '../helpers'as *;


.menu {
    position: absolute;
    z-index: -10;
    background-color: rgb(124, 87, 51);
    transform: rotateY(180deg);
    border: 2px solid #000;
    transition: var(--slowAnim);
    width: rem(500);
    height: rem(500);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(20);
    align-items: center;

    &__exit {
        position: absolute;
        right: rem(20);
    }

    &__winner {
        font-size: rem(40);
        color: #000;
    }
}

.promote {
    position: absolute;
    background-color: rgb(124, 87, 51);
    transform: scale(0);
    z-index: 20;
    border: 2px solid #000;
    transition: var(--transition);

    display: flex;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: rem(20);
}

@include tablet {
    .promote {
        & img {
            width: rem(70);
        }
    }
}

@include mobile {
    .promote {
        & img {
            width: rem(50);
        }
    }

    .menu {
        width: rem(400);
        height: rem(400);
    }
}

@include mobile-s {
    .menu {
        width: rem(350);
        height: rem(350);

        font-size: rem(14);
    }
}